.largeBlockContainer {
    background-color: var(--Final_Component_Lighter_Grey);
    border: 5px solid var(--Final_Component_Dark_Grey);
    border-radius: 15px;
    width: 80vw;
    min-height: 45vh;
    margin: 8vh auto;
}

.largeBlockContainer:hover{
    background-color: var(--Final_Component_Dark_Grey);
    cursor: pointer;
}

.largeBlockContainernohover {
    background-color: var(--Final_Component_Lighter_Grey);
    border: 5px solid var(--Final_Component_Dark_Grey);
    border-radius: 15px;
    width: 80vw;
    min-height: 45vh;
    margin: 8vh auto;
    position: relative;
}

.topContainer {
    margin: 0 50px;
}

.bottomContainer{
    margin: 0 50px
}
