.largeBlockContainer {
    background-color: var(--Final_Component_Lighter_Grey);
    border: 5px solid var(--Final_Component_Dark_Grey);
    border-radius: 15px;
    width: var(--largeWidth);
    min-height: 45vh;
    margin: 8vh auto;
}

.largeBlockContainer:hover {
    background-color: var(--Final_Component_Dark_Grey);
    cursor: pointer;
}

.largeBlockContainerNoHover {
    background-color: var(--Final_Component_Lighter_Grey);
    border: 5px solid var(--Final_Component_Dark_Grey);
    border-radius: 15px;
    width: var(--largeWidth);
    min-height: 45vh;
    margin: 8vh auto;
    position: relative;
}


/* Compresses padding50vert, topContainer (but using padding instead), alginStart and flew row small column*/
.contentBlockAlignment {
    display: flex;
    flex-direction: column;
    gap: var(--smolGap);
    justify-content: start;
}

.line {
    border-bottom: 3px solid var(--Final_White);
    border-radius: 5px;
}

/* .topContainer {
    margin: 0 50px;
}

.bottomContainer {
    margin: 0 50px
} */