.largeBlockContainer {
    background-color: var(--Final_Component_Lighter_Grey);
    border: 5px solid var(--Final_Component_Dark_Grey);
    border-radius: 15px;
    width: 80vw;
    height: 45vh;
    margin: 8vh auto;
}

.largeBlockContainernohover {
    background-color: var(--Final_Component_Lighter_Grey);
    border: 5px solid var(--Final_Component_Dark_Grey);
    border-radius: 15px;
    width: 80vw;
    height: 45vh;
    margin: 8vh auto;
    position: relative;
}


.largeBlockContainer:hover{
    background-color: var(--Final_Component_Dark_Grey);
    cursor: pointer;
}

.topContainer {
    margin: 0 50px;
}

.bottomContainer{
    margin: 0 50px
}

.line{
    border-bottom: 3px solid var(--Final_White);
    border-radius: 5px;
    margin-bottom: 5vh;
}

.buttonplacement{
    background-color: transparent;
    /* min-width:282px;
    min-height:92px; */
    width: 37vh;
    height:12.3vh;
    position:absolute

}

.buttonplacement:hover{
    background-color: var(--Final_White_5);
    cursor: pointer;
}