/* Shared Button Styles */
.sharedButton {
    cursor: pointer;
    border-radius: 0.3125rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /* text stuff */
    color: var(--final-light-purple, #BB86FC);
    text-align: center;

    /* Section Heading */
    font-family: Lato;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: 0.9375rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* Size Variants */
.smallButton {
    width: 15vw;
    height: 7vh;
    padding: 1vw 1vh;
}

.mediumButton {
    width: 17.125rem;
    height: 2.75rem;
    padding: 2vh 2vw;
}


.largeButton {
    padding: 0.625rem 1.25rem;
    width: 41.25rem;
    height: 2.75rem;
}

/* Buttons with Logos */


/* Fill and Border Variants */
.fillButton {
    border: 1px solid var(--Final_Gray, #323135);
    background: var(--Final_Light_Purple, #BB86FC);
}

.borderButton {
    background-color: transparent;
    border: 1px solid var(--Final_Light_Purple, #bb86fc);
}

/* Hover Effects */
.sharedButton:hover {
    background: var(--final-light-purple-25, rgba(187, 134, 252, 0.25));
}

.fillButton:hover {
    background: var(--Final_Light_Purple, rgba(187, 134, 252, 0.75));
}