.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 0rem;
}

.largeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parentContainer,
.parentContainer2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Viewport height */
}

.alignButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.alignBlock {
  width: 100%;
  display: contents;
  justify-content: space-between;
  padding: 0 10%;
}

.blockMargin {
  margin-right: 5vh;
}

.buttonMargin {
  margin-right: 5vh;
}

.centeredText {
  /* No changes provided for centeredText styles */
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  margin-bottom: 10vh;
}

.bigContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  margin-bottom: 20vh;
  margin-top: 14vh;
}

.bigContainer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  margin-bottom: 26vh;
  margin-top: 16.5vh;
}



.nextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 5vw;
  margin: 0 auto;
}

.centerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 5vw;
  margin-bottom: 5px; /* Adjust as needed */
}

.smallBlock {
  width: 20vw;
  height: 20vw;
}

.mediumBlock {
  width: 45vw;
  height: 20vw;
}