.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 0rem;
}

.largeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parentContainer,
.parentContainer2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Viewport height */
  position: relative;
}

.alignButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.AlignButton2 {
  width: 100%; /* Adjust the width as needed */
  display: flex;
  justify-content: center; /* Align button to the right */
  padding-right: 1%; /* Adjust the right padding as needed */
}

.Aligncenter {
  width: 100%; /* Adjust the width as needed */
  display: flex;
  justify-content: center; /* Align text to the left */
  padding-left: 1%; /* Adjust the left padding as needed */
}

.alignBlock {
  width: 100%;
  display: contents;
  justify-content: space-between;
  padding: 0 10%;
}

.blockMargin {
  margin-right: 5vh;
}

.buttonMargin {
  margin-right: 5vh;
}

.centeredText {
  /* No changes provided for centeredText styles */
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  margin-bottom: 10.5vh;
  margin-top: 10.5vh;
}

.bigContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  margin-bottom: 21vh;
  margin-top: 21vh;
}

.bigContainer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  margin-bottom: 16vh;
  margin-top: 13.5vh;
}

.bigContainer4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
  margin-bottom: 13.5vh;
  margin-top: 13.5vh;
}



.nextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 5vw;
  margin: 0 auto;
  position: relative;
}

.centerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 5vw;
  margin-bottom: 5px; /* Adjust as needed */
}

.smallBlock {
  width: 20vw;
  height: 20vw;
}

.mediumBlock {
  width: 45vw;
  height: 20vw;
}


.dashedLine {
  border-bottom: 2px dashed var(--Final_White);
  width: 70.5%;
  position: center;
  height: 0;
  margin: 20px auto; 
}

.trashicon {
  width: 2vw;
  height: 2vw;
  position: absolute;
  right:-5vw; /* Adjust as needed */
  top: 50%;  /* Adjust as needed */
  transform: translateY(-50%);
}