.inLine {
    display: inline-block;
}

.flexColumnSmolGap {
    display: flex;
    flex-direction: column;
    gap: var(--smolgap);
}

.flexRowSmolGap {
    display: flex;
    flex-direction: row;
    gap: var(--smolgap);
}

.flexColumnMediumGap {
    display: flex;
    flex-direction: column;
    gap: var(--mediumgap);
}

.flexRowMediumGap {
    display: flex;
    flex-direction: row;
    gap: var(--mediumgap);
}

.flexColumnBigGap {
    display: flex;
    flex-direction: column;
    gap: var(--biggap);
}

.flexRowBigGap {
    display: flex;
    flex-direction: row;
    gap: var(--biggap);
}

.alignCenter {
    justify-content: center;
    align-items: center;
}

.alignLeft {
    justify-content: left;
    align-items: left;
}

.alignRight {
    justify-content: right;
    align-items: right;
}

.alignSpaceBetween {
    justify-content: space-between;
    align-items: center;
}

.alignSpaceAround {
    justify-content: space-around;
    align-items: center;

}

.alignSpaceEvenly {
    justify-content: space-evenly;
    align-items: center;

}

.alignStart {
    justify-content: start;
}

.padding50Vert {
    padding: 50px 0px;
}