@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
  --grey: #de9e9e;
  --background: #1E1E1E;
  --grey: #555555;
  --smolgap: 15px;
  --mediumpgap: 55px;
  --biggap: 100px;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  color: var(--grey);
}