.smallCancel {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Cancellation.png");
    background-size: cover;
}

.smallBack {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Back.png");
    background-size: cover;
}

.smallAlignleft {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Alignment-left.png");
    background-size: cover;
}

.smallCaution {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Caution.png");
    background-size: cover;
}

.smallCheck {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Check.png");
    background-size: cover;
}

.smallDropdown {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Dropdown.png");
    background-size: cover;
}

.smallEdit {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Edit.png");
    background-size: cover;
}

.smallFile {
    width: 24px;
    height: 24px;
    background-image: url("/icons/file folder approved-2.png");
    background-size: cover;
}

.smallFilter {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Filter.png");
    background-size: cover;
}

.smallHamburger {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Hamburger.png");
    background-size: cover;
}

.smallHome {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Home.png");
    background-size: cover;
}

.smallInfo {
    width: 24px;
    height: 24px;
    background-image: url("/icons/information chat right.png");
    background-size: cover;
}

.smallLink {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Link.png");
    background-size: cover;
}

.smallLogout {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Logout.png");
    background-size: cover;
}

.smallMaps {
    width: 24px;
    height: 24px;
    background-image: url("/icons/maps-location.png");
    background-size: cover;
}

.smallPlus {
    width: 24px;
    height: 24px;
    background-image: url("/icons/plus.png");
    background-size: cover;
}

.smallProfile {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Profile.png");
    background-size: cover;
}

.smallSave {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Save.png");
    background-size: cover;
}

.smallSearch {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Search.png");
    background-size: cover;
}

.smallSort {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Sort.png");
    background-size: cover;
}

.smallStart {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Start.png");
    background-size: cover;
}

.smallStop {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Stop.png");
    background-size: cover;
}

.smallTrash {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Trash.png");
    background-size: cover;
}

.smallComment {
    width: 24px;
    height: 24px;
    background-image: url("/icons/comment.png");
    background-size: cover;
}

.smallEditpage {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Edit Page.png");
    background-size: cover;
}

.smallReplace {
    width: 24px;
    height: 24px;
    background-image: url("/icons/Replace.png");
    background-size: cover;
}




.bigCancel {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Cancellation.png");
    background-size: cover;
}

.bigBack {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Back.png");
    background-size: cover;
}

.bigAlignleft {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Alignment-left.png");
    background-size: cover;
}

.bigCaution {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Caution.png");
    background-size: cover;
}

.bigCheck {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Check.png");
    background-size: cover;
}

.bigDropdown {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Dropdown.png");
    background-size: cover;
}

.bigEdit {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Edit.png");
    background-size: cover;
}

.bigFile {
    width: 60px;
    height: 60px;
    background-image: url("/icons/file folder approved-2.png");
    background-size: cover;
}

.bigFilter {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Filter.png");
    background-size: cover;
}

.bigHamburger {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Hamburger.png");
    background-size: cover;
}

.bigHome {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Home.png");
    background-size: cover;
}

.bigInfo {
    width: 60px;
    height: 60px;
    background-image: url("/icons/information chat right.png");
    background-size: cover;
}

.bigLink {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Link.png");
    background-size: cover;
}

.bigLogout {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Logout.png");
    background-size: cover;
}

.bigMaps {
    width: 60px;
    height: 60px;
    background-image: url("/icons/maps-location.png");
    background-size: cover;
}

.bigPlus {
    width: 60px;
    height: 60px;
    background-image: url("/icons/plus.png");
    background-size: cover;
}

.bigProfile {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Profile.png");
    background-size: cover;
}

.bigSave {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Save.png");
    background-size: cover;
}

.bigSearch {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Search.png");
    background-size: cover;
}

.bigSort {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Sort.png");
    background-size: cover;
}

.bigStart {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Start.png");
    background-size: cover;
}

.bigStop {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Stop.png");
    background-size: cover;
}

.bigTrash {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Trash.png");
    background-size: cover;
}



.bigComment {
    width: 60px;
    height: 60px;
    background-image: url("/icons/comment.png");
    background-size: cover;
}

.bigEditpage {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Edit Page.png");
    background-size: cover;
}

.bigReplace {
    width: 60px;
    height: 60px;
    background-image: url("/icons/Replace.png");
    background-size: cover;
}