.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 0rem;
}

.largeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parentContainer,
.parentContainer2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh; 
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Viewport height */
  }
  
.alignButton{
        width: 100%;  
        display: flex;
        justify-content: space-between;
        padding: 0 10%; 
}

.alignBlock {
    width: 100%;  
    display: contents;
    justify-content: space-between;
    padding: 0 10%; 
}

/* .parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
  } */
  
  /* .alignButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .alignBlock {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  } */
  
  .blockMargin {
    margin-right: 5vh;
  }
  
  .buttonMargin {
    margin-right: 5vh;
  }
  
  
.centeredText {
    align-items: center;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
}

.nextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 5vw;
  margin: 0 auto;
}

.centerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  gap: 5vw;
  margin-bottom: 5px; /* Adjust as needed */
}

.smallBlock{
  width: 20vw;
  height: 20vw;
}

.mediumBlock{
  width: 45vw;
  height: 20vw;
}

